<h3>Favorites!</h3>

<ul>
  <li ng-repeat="image in main.favoritedGifs" alt="search result image">
    <div class="searchResult">
      <img class="searchImage" ng-src="{{image.url}}" />
      <p class="category">Category: {{image.category}}</p>
      <p class="comment">Comments: {{image.comment}}</p>
      <button ng-hide="$index==main.updateFav" class="addFavoriteButton" ng-click="main.setFavIndex($index)">Edit This Favorite</button>

      <div ng-show="$index==main.updateFav">
        <form name="favoritesForm">
          <input ng-model="main.updateComment" id="comment" type="textarea" value="{{image.comment}}" required/>
          <span>Category: </span>
          <select ng-model="main.updateCategory" required >
            <option value="">
            <option value="Reaction">Reaction
            <option value="Work-Related">Work-Related
            <option value="Funny">Funny
            <option value="Angry">Angry
            <option value="Happy">Happy
            <option value="Sad">Sad
            <option value="Random">Random
          </select>
          <button class="formButtons" ng-click="main.resetFavIndex()">Cancel</button>
          <button class="formButtons" ng-click="main.deleteFav($index)">Delete</button>
          <button ng-disabled="!favoritesForm.$valid" class="formButtons" ng-click="main.updateFaves($index)">Update</button>
        </form>
      </div>
    </div>
  </li>
</ul>
