<h2 ng-show="main.showGreeting()">Search Results</h2>
<div ng-hide="main.showGreeting()">
  <h2>Search for Images!</h2>
  <p>Or if you dare, test your luck by getting a random gif!</p>
</div>

<ul>
  <li ng-repeat="image in main.searchImages" alt="search result image">
    <div class="searchResult">
      <img class="searchImage" ng-src="{{image.images.original.url}}" />
      <button ng-hide="$index==main.show" class="addFavoriteButton" ng-click="main.setIndex($index)">Add to Favorites</button>

      <div ng-show="$index==main.show">
        <form name="searchForm">
          <input class="favoritesInput" ng-model="main.comment" type="textarea" placeholder="Add a Comment..." required  />
          <span>Category: </span>
          <select ng-model="main.category" required>
            <option value="">
            <option value="Reaction">Reaction
            <option value="Work-Related">Work-Related
            <option value="Funny">Funny
            <option value="Angry">Angry
            <option value="Happy">Happy
            <option value="Sad">Sad
            <option value="Gross">Gross
            <option value="OMG">OMG
            <option value="Awesome">Awesome
            <option value="Cool">Cool
            <option value="Random">Random
          </select>
          <button class="formButtons" ng-click="main.resetIndex()">Cancel</button>
          <button ng-disabled="!searchForm.$valid" class="formButtons" ng-click="main.addFavorite($index)">Submit</button>
        </form>
      </div>
    </div>
  </li>
</ul>
