<h2 ng-show="main.showGreeting()">Search Results</h2>
<div ng-hide="main.showGreeting()">
  <h2>Search for Images!</h2>
  <p>Or if you dare, test your luck by getting a random gif!</p>
</div>

<ul>
  <li ng-repeat="image in main.searchImages | limitTo: searches" alt="search result image">
    <div class="searchResult">
      <img ng-class="highlightClass" class="searchImage" ng-src="{{image.images.original.url}}" />
      <button class="addFavorite" ng-click="main.addFavorite()">Add to Favorites</button>
    </div>
  </li>
</ul>
