<h2 ng-show="main.showGreeting()">Search Results</h2>
<div ng-hide="main.showGreeting()">
  <h2>Search for Images!</h2>
  <p>Or if you dare, test your luck by getting a random gif!</p>
</div>

<ul>
  <li ng-repeat="image in main.searchImages | limitTo: searches" alt="search result image">
    <div class="searchResult">
      <img ng-class="highlightClass" class="searchImage" ng-src="{{image.images.original.url}}" />
      <button ng-hide="$index==main.show" class="addFavoriteButton" ng-click="main.setIndex($index)">Add to Favorites</button>

      <div ng-show="$index==main.show">
        <form>
          <input id="comment" type="textarea" placeholder="Add a Comment..."  />
          <span>Category: </span>
          <select>
            <option></option>
            <option>Reaction</option>
            <option>Work-Related</option>
            <option>Funny</option>
            <option>Angry</option>
            <option>Happy</option>
            <option>Sad</option>
            <option>Random</option>
          </select>
          <button class="formButtons" ng-click="main.resetIndex()">Cancel</button>
          <button class="formButtons" ng-click="main.resetIndex()">Submit</button>
        </form>
      </div>
    </div>
  </li>
</ul>
