<h2>Random Giphy Results</h2>
<div class="randomResult">
  <img ng-src="{{main.random}}" class="randomImage" />
  <button ng-hide="main.showRandom" class="addRandomFavoriteButton" ng-click="main.showRandomForm()">Add to Favorites</button>

  <div ng-show="main.showRandom">
    <form name="randomForm">
      <input name="randomComment" ng-model="main.randomComment" id="randomComment" type="text" placeholder="Add a Comment..." required  />
      <span>Category: </span>
      <select ng-model="main.randomCategory" required>
        <option value="">
        <option value="Reaction">Reaction
        <option value="Work-Related">Work-Related
        <option value="Funny">Funny
        <option value="Angry">Angry
        <option value="Happy">Happy
        <option value="Sad">Sad
        <option value="Gross">Gross
        <option value="OMG">OMG
        <option value="Awesome">Awesome
        <option value="Cool">Cool
        <option value="Random">Random
      </select>
      <button class="randomFormButtons" ng-click="main.showRandomForm()">Cancel</button>
      <button ng-disabled="!randomForm.$valid" class="randomFormButtons" ng-click="main.addRandomFavorite()">Submit</button>
    </form>
  </div>

</div>
