body {
  width: 100%
}
p {
  text-align: center;
}
main {
  margin: 0 auto;
  width: 50;
  transform: translateY(150%);
  transition: transform 30s linear;
}
.scroll {
  transform: translateY(-150%);
}
