main {
  text-align: center;
}
h1 {
  text-align: left;
  color: silver;
}
a:hover {
  text-decoration: none;
}
nav {
  background-color: #222;
}
.home {
  display: inline-block;
  margin: 10px;
  position: relative;
  top: -10px;
}
.searchBar {
  display: inline-block;
  margin: 20px;
  margin-left: 40px;
}
input {
  margin-bottom: 15px;
  margin-right: 3px;
}
#randomButton {
  width: 220px;
}
.favorites {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  top: -10px;
}
h3 {
  color: silver;
}
.home:hover, .favorites:hover {
  background-color: #444;
}
/*
.randomImage {
  width: 500px;
  height: auto;
  border: 3px solid gray;
}
li {
  display:inline-block;
  margin: 10px;
}
.searchImage {
  height: auto;
  width: 300px;
  border: 3px solid gray;
}
.randomButton {
  display: block;
  margin: 10px auto;
}
input {
  font-size: 26px;
}
.searchButton, .randomButton {
  font-size: 26px;
  background: linear-gradient(silver, darkslategray);
}
.searchButton:hover, .randomButton:hover {
  background: linear-gradient(white, red);
}
.randomButton {
  width: 500px;
}
label {
  font-size: 26px;
  padding: 3px;
  margin-right: 5px;
  background-color: gray;
}*/
