main {
  text-align: center;
}
h1 {
  text-align: left;
  color: silver;
}
a:hover {
  text-decoration: none;
}
nav {
  background-color: #222;
}
.home {
  display: inline-block;
  margin: 10px;
  position: relative;
  top: -10px;
  padding: 0 10px;
}
.searchBar {
  display: inline-block;
  margin: 20px;
  margin-left: 40px;
}
.searchInput {
  margin-bottom: 15px;
  margin-right: 3px;
}
#randomButton {
  width: 220px;
  color: black;
}
.searchButton {
  color: black;
}
.favorites {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  top: -10px;
  padding: 0 10px;
}
h3 {
  color: silver;
}
.home, .favorites {
  background: linear-gradient(black, gray);
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.7)
}
.home:hover, .favorites:hover{
  background: linear-gradient(to top, darkslategray, white);
  text-decoration: none;
    box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.7)
}
.home:hover h1, .favorites:hover h3 {
  color:black;
}
.randomImage {
  width: 500px;
  height: auto;
  border: 3px solid gray;
}
li {
  display:inline-block;
  margin: 10px;
}
.searchImage {
  height: auto;
  width: 350px;
  border: 3px solid gray;
}
.searchResult {
  width: 356px;
}
.randomResult {
  width: 506px;
}
.searchResult, .randomResult {
  margin: 0 auto;
  border: 3px solid gray;
}
.addFavoriteButton {
  width: 350px;
  background:
}
.addRandomFavoriteButton {
  width: 500px;
}
#randomComment {
  width: 320px;
}
.randomFormButtons {
  width: 200px;
  margin: 10px;
}
footer {
  text-align: center;
  margin-top: 50px;
}
.favoritesInput {
  margin: 8px
}
.formButtons {
  margin: 10px;
  width: 150px;
}
.formButtons, .addRandomFavoriteButton, .addFavoriteButton,
#randomButton, .searchButton, .randomFormButtons{
  background: linear-gradient(silver, darkgray);
}
.formButtons:hover, .addRandomFavoriteButton:hover,
.addFavoriteButton:hover, #randomButton:hover, .searchButton:hover,
.randomFormButtons:hover {
  background: linear-gradient(darkslategray, slategray);
  color: white;
}
.heading {
  font-weight: bold;
  text-decoration: underline;
}
.info {
  text-align: left;
}
.description {
  margin: 5px 0 5px 10px;
}
